{{ define "main" }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="{{ .Params.logo }}" alt="" class="db w4 center pv4">

		{{ .Content }}

		<div class="flex-ns mb3">
	        	{{ range .Params.contact_entries }}
				<div>
					<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
					<a href="mailto:marketing@ether1.org">Marketing Department</a>
					<br>
					<a href="mailto:chris@ether1.org">Business Development</a>
					<br>
					<a href="mailto:ethan@ether1.org">Development Team</a>
					<br>
					<a href="mailto:communtiy@ether1.org">Community Management</a>
					<br>
					<br>
					<h4 class="f4 b lh-title mb2 primary">Call Us on:</h4>
					<a href="tel:888-700-3846">+1 888-700-3846</a>
				</div>
			{{ end }}
		</div>

	</div>
</div>

{{ end }}
